// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$theme_base_color : #{"@theme_base_color"};
$theme_text_color : #{"@theme_text_color"};



window {
  background: none;

  revealer {
    background: none;

    grid {



      >* {
        margin: 10px;
        border-radius: 5%;
        background: $bg-color;
      }

    }


  }
}

      #Battery {
        min-width: 1000px;
        min-height: 300px;
        background-color: red;
      }